.display-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f8ff;
}

.login-box {
  width: 100%;
  max-width: 600px;
  padding: 1rem;
  background-color: #ffffff;
  border-radius: 1rem;
  border: 1px solid #b0c4de;
}

.button-box {
  display: flex;
  justify-content: space-between;
}

.btn-info {
  --bs-btn-color: #ffffff;
  --bs-btn-hover-color: #ffffff;
  --bs-btn-active-color: #ffffff;
  --bs-btn-disabled-color: #ffffff;
}
